data_factory/pipeline/core_lakehouse_raw.json
{
	"name": "core_lakehouse_raw",
	"properties": {
		"description": "Pipeline de datos para poblar el modelo corporativo, zona master",
		"activities": [
			{
				"name": "RawLakeLoad",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SetYearVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SetMonthVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "raw_core_load",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"year_date": {
							"value": "@variables('year_date')",
							"type": "Expression"
						},
						"month_date": {
							"value": "@variables('month_date')",
							"type": "Expression"
						},
						"r_process_date": {
							"value": "@pipeline().parameters.process_date",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SetYearVariable",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "year_date",
					"value": {
						"value": "@substring(pipeline().parameters.process_date, 0, 4)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetMonthVariable",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "month_date",
					"value": {
						"value": "@substring(pipeline().parameters.process_date, 5, 2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SaveProcessResult",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "RawLakeLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "last_update",
								"value": {
									"value": "@pipeline().parameters.process_date",
									"type": "Expression"
								}
							},
							{
								"name": "last_zone",
								"value": "all"
							},
							{
								"name": "result_type",
								"value": "exitoso"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_metadata_json",
						"type": "DatasetReference",
						"parameters": {
							"application": "sharedknow",
							"filename": "plan_config.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_metadata_json",
						"type": "DatasetReference",
						"parameters": {
							"application": "sharedknow",
							"filename": "plan_config.json"
						}
					}
				]
			}
		],
		"parameters": {
			"process_date": {
				"type": "string"
			}
		},
		"variables": {
			"year_date": {
				"type": "String"
			},
			"month_date": {
				"type": "String"
			},
			"process_result": {
				"type": "String"
			}
		},
		"folder": {
			"name": "00_core_project"
		},
		"annotations": []
	}
}