data_factory/pipeline/raw_ga4_load.json
{
	"name": "raw_ga4_load",
	"properties": {
		"activities": [
			{
				"name": "GetEventsFileList",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_raw_dataset",
						"type": "DatasetReference",
						"parameters": {
							"aplicacion": "ga4",
							"filename": "events"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "SetProcessDateList",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetEventsFileList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "process_date_list",
					"value": {
						"value": "@activity('GetEventsFileList').output.childItems",
						"type": "Expression"
					}
				}
			},
			{
				"name": "EachProcessDate",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetProcessDateList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('process_date_list')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyGA4Events",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_metadata_json",
									"type": "DatasetReference",
									"parameters": {
										"application": "ga4",
										"filename": {
											"value": "@concat('events/',string(item().name),\n 'events_',replace(string(item().name),'-',''), '.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_raw_json",
									"type": "DatasetReference",
									"parameters": {
										"application": "ga4",
										"filename": {
											"value": "@concat('events/year=',substring(string(item().name),0,4),'/month=',substring(string(item().name),5, 2),'/events.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"year_date": {
				"type": "string"
			},
			"month_date": {
				"type": "string"
			},
			"process_date": {
				"type": "string"
			}
		},
		"variables": {
			"process_date_list": {
				"type": "String"
			}
		},
		"folder": {
			"name": "01_raw_source"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-06T19:43:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}